*{
    font-family: var(--text);
}
a{
    text-decoration: none;
}
:root{
    --title: "Playfair Display", sans-serif;
    --text: "Roboto", sans-serif;
    --green: #0e6621;
    --blue: #f0e2e7;
}
#blogPage .card{
    height: 80vh;
    background-image: url("../images/blogBanner.jpg");
    opacity: 0.9;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}
#blogPage .card .card-text{
    padding: 0!important;
    bottom: 0;
}
/* #blogPage .card .card-img{
    background: url("/images/work.png") no-repeat center;
    color: #111;
    background-size: cover;
    background-attachment: fixed;
} */
#blogPage .container .row .post-box{
    /* padding: 10px; */
    margin-top: 30px;
    background-color: #f2f2f5;
    display: block;  
    height: 490px;
    cursor: pointer;
}
#blogPage .container .row .post-box{
    overflow: hidden;
}
#blogPage .container .row .post-box .post-img{
    transition: ease-in-out 0.3s;
}
#blogPage .container .row .post-box:hover{
    background-color: var(--blue);
}
#blogPage .container .row .post-box:hover .post-img{
    cursor: pointer;
    transform: scale(1.1);
}
#blogPage .container .row .post-box img{
    width: 100%;
    height: 300px;
}
#blogPage .container .row .post-box .blog-meta{
    font-size: 14px;
    margin-bottom:2px ;
}
#blogPage .container .row .post-box span{
    float: right;
    font-size: 12px;
    color: black;
}
#blogPage .container .row .post-box .post-title{
    font-size: 20px;
    font-family: var(--title);
    font-weight: 600;
}
#blogPage .container .row .post-box .blog-text{
    font-size: 14px;
    text-align: justify;
}
#blogPage .container .row .post-box h2{
    margin-top: 10px;
    font-size: 30px;
    color: black;
}
#blogPage .container .row .post-box .post-title{
    text-decoration: none;
    color: #0e0f0f;
    cursor: pointer;
}
#blogPage .container .row .post-box .read-more-btn{
    /* background-image: linear-gradient(to right, #20422b, #acd6ba); */
    background-color: var(--green);
    padding: 10px 20px;
    border-radius: 20px;
    line-height: 20px;
    font-size: 14px;
    color: #fff;
    border: none;
}
#blogPage .container .row .post-box .read-more-btn:hover{
    /* background-image:linear-gradient(to right, #5ca071, #eaf8ef); */
    background-color: transparent;
    border: 2px solid var(--green);
    text-decoration: none;
    color: var(--green);
}
  